In [8]:
# Set up
import numpy as np
import pandas as pd
import seaborn as sns # for visualiation
import altair as alt
alt.renderers.enable('notebook') # enable altair rendering
from scipy.stats import ttest_ind # t-tests
import statsmodels.formula.api as smf # linear modeling
import statsmodels.api as sm
import matplotlib.pyplot as plt # plotting
import matplotlib
from sklearn import metrics
matplotlib.style.use('ggplot')
%matplotlib inline

In [9]:
listings_df = pd.read_csv('./data/listings.csv')
bookings_df = pd.read_csv('./data/calendar.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# The columns we have to work with for listings (house details)
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [11]:
# Looking at things related to the pricing of the house
pricing_df = listings_df[['id','price', 'weekly_price', 'monthly_price']]
pricing_df

            id    price weekly_price monthly_price
0         2318  $296.00          NaN           NaN
1         4291   $82.00      $525.00     $1,925.00
2         5682   $48.00      $400.00     $1,250.00
3         6606   $90.00      $670.00           NaN
4         9419   $65.00      $580.00     $1,500.00
5         9460   $80.00          NaN           NaN
6         9531  $165.00    $1,075.00     $3,000.00
7         9534  $125.00      $825.00     $2,500.00
8         9596  $120.00      $725.00           NaN
9         9909  $125.00      $945.00     $3,200.00
10       10209   $50.00      $240.00       $750.00
11       10385   $60.00      $330.00     $1,350.00
12       10695  $109.00      $605.00     $1,980.00
13       11012  $299.00    $2,100.00           NaN
14       11411   $60.00      $330.00     $1,320.00
15       14386   $40.00      $225.00       $650.00
16       15108   $60.00      $375.00     $1,000.00
17       15749  $100.00      $385.00       $950.00
18       17229   $50.00      $240.00       $750.00
19       17951  $105.00      $630.00     $2,500.00
20       19611   $85.00          NaN           NaN
21       19619  $145.00          NaN           NaN
22       19623  $165.00          NaN           NaN
23       20868  $199.00          NaN           NaN
24       20927   $89.00      $549.00           NaN
25       20928   $79.00      $499.00           NaN
26       23192  $200.00          NaN           NaN
27       23356  $189.00    $1,250.00     $3,800.00
28       23430  $107.00          NaN           NaN
29       24212  $157.00          NaN           NaN
...        ...      ...          ...           ...
8665  29125551  $145.00          NaN           NaN
8666  29129690   $47.00          NaN           NaN
8667  29132538  $110.00          NaN           NaN
8668  29135937   $75.00          NaN           NaN
8669  29136365   $83.00          NaN           NaN
8670  29136580   $45.00          NaN           NaN
8671  29138239  $200.00          NaN           NaN
8672  29139019   $50.00          NaN           NaN
8673  29150677  $200.00          NaN           NaN
8674  29153232  $100.00          NaN           NaN
8675  29155400   $40.00          NaN           NaN
8676  29155657  $145.00          NaN           NaN
8677  29156425  $150.00          NaN           NaN
8678  29159086  $300.00          NaN           NaN
8679  29166195  $300.00          NaN           NaN
8680  29172097  $239.00          NaN           NaN
8681  29184871  $100.00          NaN           NaN
8682  29185803  $105.00          NaN           NaN
8683  29185812  $105.00          NaN           NaN
8684  29188987   $70.00          NaN           NaN
8685  29193482  $160.00          NaN           NaN
8686  29194465  $160.00          NaN           NaN
8687  29194698  $160.00          NaN           NaN
8688  29196643  $160.00          NaN           NaN
8689  29196773  $160.00          NaN           NaN
8690  29196906  $160.00          NaN           NaN
8691  29196984  $160.00          NaN           NaN
8692  29197075  $160.00          NaN           NaN
8693  29197179  $160.00          NaN           NaN
8694  29197274  $160.00          NaN           NaN

[8695 rows x 4 columns]

## Observations:

There are some houses that don't have a weekly or monthy rate. Further research shows that "price" indicates the _price per night_. This can be multiplied with how often the house is booked to show how much monthly income the owners are making from the home.

In [12]:
# Looking at columns related to booking the homes
bookings_df.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [13]:
bookings_df

         listing_id        date available   price
0            158345  2019-09-13         t  $55.00
1            158345  2019-09-12         t  $55.00
2            158345  2019-09-11         t  $55.00
3            158345  2019-09-10         t  $55.00
4            158345  2019-09-09         t  $55.00
5            158345  2019-09-08         t  $55.00
6            158345  2019-09-07         t  $55.00
7            158345  2019-09-06         t  $55.00
8            158345  2019-09-05         t  $55.00
9            158345  2019-09-04         t  $55.00
10           158345  2019-09-03         t  $55.00
11           158345  2019-09-02         t  $55.00
12           158345  2019-09-01         t  $55.00
13           158345  2019-08-31         t  $55.00
14           158345  2019-08-30         t  $55.00
15           158345  2019-08-29         t  $55.00
16           158345  2019-08-28         t  $55.00
17           158345  2019-08-27         t  $55.00
18           158345  2019-08-26         t  $55.00
19           158345  2019-08-25         t  $55.00
20           158345  2019-08-24         t  $55.00
21           158345  2019-08-23         t  $55.00
22           158345  2019-08-22         t  $55.00
23           158345  2019-08-21         t  $55.00
24           158345  2019-08-20         t  $55.00
25           158345  2019-08-19         t  $55.00
26           158345  2019-08-18         t  $55.00
27           158345  2019-08-17         t  $55.00
28           158345  2019-08-16         t  $55.00
29           158345  2019-08-15         t  $55.00
...             ...         ...       ...     ...
3173645    28894027  2018-11-09         t  $45.00
3173646    28894027  2018-11-08         t  $45.00
3173647    28894027  2018-11-07         t  $45.00
3173648    28894027  2018-11-06         t  $45.00
3173649    28894027  2018-11-05         t  $45.00
3173650    28894027  2018-11-04         t  $45.00
3173651    28894027  2018-11-03         t  $45.00
3173652    28894027  2018-11-02         t  $45.00
3173653    28894027  2018-11-01         t  $45.00
3173654    28894027  2018-10-31         t  $45.00
3173655    28894027  2018-10-30         t  $45.00
3173656    28894027  2018-10-29         t  $45.00
3173657    28894027  2018-10-28         t  $45.00
3173658    28894027  2018-10-27         t  $45.00
3173659    28894027  2018-10-26         t  $45.00
3173660    28894027  2018-10-25         t  $45.00
3173661    28894027  2018-10-24         t  $45.00
3173662    28894027  2018-10-23         t  $45.00
3173663    28894027  2018-10-22         t  $45.00
3173664    28894027  2018-10-21         t  $45.00
3173665    28894027  2018-10-20         t  $45.00
3173666    28894027  2018-10-19         t  $45.00
3173667    28894027  2018-10-18         t  $45.00
3173668    28894027  2018-10-17         t  $45.00
3173669    28894027  2018-10-16         t  $45.00
3173670    28894027  2018-10-15         t  $45.00
3173671    28894027  2018-10-14         t  $45.00
3173672    28894027  2018-10-13         t  $45.00
3173673    28894027  2018-10-12         t  $45.00
3173674    28894027  2018-10-11         t  $45.00

[3173675 rows x 4 columns]

## Observations: 

"True" in the available column indicates that the house can be rented out. We want to know monthy income so we might want to only look at where the "available" column is _false_.

In [14]:
# Looking at the listings where it's false

booked_houses = bookings_df[bookings_df['available'] == 'f']

In [15]:
booked_houses

         listing_id        date available price
52           413733  2019-08-01         f   NaN
53           413733  2019-07-31         f   NaN
54           413733  2019-07-30         f   NaN
55           413733  2019-07-29         f   NaN
56           413733  2019-07-28         f   NaN
57           413733  2019-07-27         f   NaN
58           413733  2019-07-26         f   NaN
59           413733  2019-07-25         f   NaN
60           413733  2019-07-24         f   NaN
61           413733  2019-07-23         f   NaN
62           413733  2019-07-22         f   NaN
63           413733  2019-07-21         f   NaN
64           413733  2019-07-20         f   NaN
65           413733  2019-07-19         f   NaN
66           413733  2019-07-18         f   NaN
67           413733  2019-07-17         f   NaN
68           413733  2019-07-16         f   NaN
69           413733  2019-07-15         f   NaN
70           413733  2019-07-14         f   NaN
71           413733  2019-07-13         f   NaN
72           413733  2019-07-12         f   NaN
73           413733  2019-07-11         f   NaN
74           413733  2019-07-10         f   NaN
75           413733  2019-07-09         f   NaN
76           413733  2019-07-08         f   NaN
77           413733  2019-07-07         f   NaN
78           413733  2019-07-06         f   NaN
79           413733  2019-07-05         f   NaN
80           413733  2019-07-04         f   NaN
81           413733  2019-07-03         f   NaN
...             ...         ...       ...   ...
3173252    11640897  2019-08-21         f   NaN
3173253    11640897  2019-08-20         f   NaN
3173254    11640897  2019-08-19         f   NaN
3173255    11640897  2019-08-18         f   NaN
3173256    11640897  2019-08-17         f   NaN
3173257    11640897  2019-08-16         f   NaN
3173258    11640897  2019-08-15         f   NaN
3173273    11640897  2018-11-16         f   NaN
3173286    11640897  2018-11-03         f   NaN
3173289    11640897  2018-10-31         f   NaN
3173290    11640897  2018-10-30         f   NaN
3173291    11640897  2018-10-29         f   NaN
3173292    11640897  2018-10-28         f   NaN
3173293    11640897  2018-10-27         f   NaN
3173294    11640897  2018-10-26         f   NaN
3173295    11640897  2018-10-25         f   NaN
3173296    11640897  2018-10-24         f   NaN
3173297    11640897  2018-10-23         f   NaN
3173298    11640897  2018-10-22         f   NaN
3173299    11640897  2018-10-21         f   NaN
3173300    11640897  2018-10-20         f   NaN
3173301    11640897  2018-10-19         f   NaN
3173302    11640897  2018-10-18         f   NaN
3173303    11640897  2018-10-17         f   NaN
3173304    11640897  2018-10-16         f   NaN
3173305    11640897  2018-10-15         f   NaN
3173306    11640897  2018-10-14         f   NaN
3173307    11640897  2018-10-13         f   NaN
3173308    11640897  2018-10-12         f   NaN
3173309    11640897  2018-10-11         f   NaN

[1953629 rows x 4 columns]

## Observations:

Many of the houses that are booked don't have a listed price. This may indicate that we need to combine the dataframes together in order to get a price for the listings.

This, combined with the fact that not all houses have weekly and monthly prices may lead us to make estimates based solely off of the `price` column.

## Data preparation

To explore the data further, our columns of interest need to be created. This includes: `estimated_income_per_month`, `estimated_occupancy`, and `bookings_per_month`.


Here is a picture of the equations the website uses to calculate this information (we should also justify this during our paper as to why we chose these equations / why they represent what we're measuring):

![equations](./images/equations.png)

Here are constants (the variables in all caps) within the equations that were found on the page:

![constants](./images/constants.png)

## Equations for calculation:

- `bookings per month`: number of reviews per month divided by the review rate, rounded to one decimal place.
- `estimated occupancy`: the minimum between bookings per month * the max between the minimum nights and the average nights divided by 30 or the maximum occupancy rounded to 3 decimal places
- `income per month`: estimated occupancy times 30 times the price per night, rounded to the nearest whole number.

In [16]:
# Declare the constants

REVIEW_RATE = 0.3
AVERAGE_NIGHTS = 5
MAXIMUM_OCCUPANCY = 0.7

## Calculate the bookings per month
reviews_per_month = listings_df[['reviews_per_month']]

## Create a copy of the original dataframe to modify
listings_with_income = listings_df.copy()

# Bookings per month
listings_with_income['bookings_per_month'] = reviews_per_month / REVIEW_RATE

In [17]:
# Estimated occupancy

# Get minumum number of nights
minimum_nights = listings_df[['minimum_nights']]

# Create array to hold max number of nights stayed
max_nights_stayed = []

# For each row, choose the max between the minimum number of nights and the average number of nights
for index, min_nights in minimum_nights.iterrows():
    max_nights_stayed.append(max(float(min_nights), AVERAGE_NIGHTS))
    
# Calculate average number of stays per day to multiply by bookings per month to get number of bookings per month
average_stays_per_day = [max_nights / 30 for max_nights in max_nights_stayed]

# Holds average stays per month
average_stays_per_month = listings_with_income['bookings_per_month'] * average_stays_per_day

# Final value for estimated occupancy
estimated_occupancy = []
for average_stay_per_month in average_stays_per_month:
    estimated_occupancy.append(min(average_stay_per_month, MAXIMUM_OCCUPANCY))

# Add the values to the dataframe
listings_with_income['estimated_occupancy'] = estimated_occupancy

In [18]:
# Estimated income per month
prices = listings_with_income['price']
formatted_prices = []

for price in prices:
    formatted_price = price.replace("$", "")
    formatted_price = formatted_price.replace(",", "")
    formatted_prices.append(formatted_price)

listings_with_income['price'] = formatted_prices

listings_with_income.price = listings_with_income.price.astype(float)

listings_with_income['income_per_month'] = round(listings_with_income['estimated_occupancy'] * 30 * listings_with_income['price'])